# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Environnements virtuels
.venv/
venv/
env/
ENV/

# Django
*.log
*.pot
*.pyc
*.sqlite3
media/
staticfiles/

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db

# Secrets / config
.env
.env.local
.env.*.local
!.env.example

# Migrations (si tu préfères ne pas les versionner)
# */migrations/*.py
# !*/migrations/__init__.py
