# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Environnements virtuels
.venv/
venv/
env/
ENV/

# Django
*.log
*.pot
*.pyc
*.sqlite3
media/
staticfiles/

# Node / Angular Frontend
frontend/node_modules/
frontend/dist/
frontend/.angular/
node_modules/
dist/
.angular/
.sass-cache/

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db

# Secrets / config
.env
.env.local
.env.*.local
!.env.example
